<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header th:replace="Layout/layout :: header"></header>
    <div class="container">
    <div class="text-center my-3">
        <h1>Opciones de Administrador</h1>
        <a href="/usuarios">Gestionar Usuarios</a>
        <a href="/registros">Revisar Registros</a>
        <a href="/incidencias">Revisar Incidencias</a>
        <a href="/estadisticas">Ver estadisticas</a>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a  href="/" class="btn btn-outline-secondary">Cerrar Sesion</a>
    </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>