<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <!---NAVBAR--->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="/img/Logo_CDMX.png" alt="" width="195" height="50">
                <img src="/img/Logo_Dependencia.jpg" alt="" width="195" height="50">
            </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/administrar">Opciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex" style="height: 75px;">
        <div class="vr"></div>
    </div>
    <!-- Modal -->
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar Contraseña</h5>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="container">
                        <div class="mb-3">
                            <label for="password">Contraseña Actual: </label>
                            <input id="password" type="password" class="form-control" placeholder="Contraseña Actual" name="password" required/>
                        </div>
                        <div class="mb-3">
                            <label for="nuevoPassword">Nueva contraseña: </label>
                            <input id="nuevoPassword" type="password" class="form-control" placeholder="Nueva Contraseña" name="nuevoPassword" required/>
                        </div>
                        <div class="mb-4">
                            <label for="verPassword">Verificar contraseña: </label>
                            <input id="verPassword" type="password" class="form-control" placeholder="Verificar Contraseña" name="verPassword" required/>
                        </div>
                    </div>
                    <div th:if="${msgError != null}" class="alert alert-danger" role="alert">
                        [[${msgError}]]
                    </div>
                    <div class="modal-footer">
                        <a href="/administrar" class="btn btn-secondary">Cancelar</a>
                        <button  class="btn btn-primary">Cambiar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>