<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lista de Registros de Incidencias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div th:if="${msgExito != null}" class="alert alert-success alert-dismissible">
            [[${msgExito}]]
            <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>
        <div th:if="${msgFallo != null}" class="alert alert-danger alert-dismissible">
            [[${msgFallo}]]
            <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
        </div>

        <div class="row justify-content-center mb-4">
            <h1 class="text-center mb-4 mt-4">Lista de Registros de Incidencias</h1>
            <h4 sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPERVISOR')" class="card-title">
                <a  th:href="@{/incidencias/exportar}" class="btn btn-success">Descargar Registros de Incidencias</a>
            </h4>
        </div>
        <div class= "table-responsive">
            <table class="table table-hover">
                <thead class="table-info">
                <tr>
                    <th>Nombre</th>
                    <th>Expediente</th>
                    <th>Hora</th>
                    <th>Fecha</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Detalles</th>
                    <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPERVISOR')">Acciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="incidencia : ${listaIncidencias}">
                        <td th:text="${incidencia.usuario.nombre}"></td>
                        <td th:text="${incidencia.usuario.expediente}"></td>
                        <td th:text="${#temporals.format(incidencia.hora,'hh:mm a')}"></td>
                        <td th:text="${#temporals.format(incidencia.fecha,'dd/MM/YYYY')}"></td>
                        <td th:text="${incidencia.tipo}"></td>
                        <td th:text="${incidencia.estado}"></td>
                        <td th:text="${incidencia.detalles}"></td>
                        <td>
                            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPERVISOR')" class="btn-group">

                                <a th:if="${incidencia.estado != 'Validado'}"  href="#" onclick="validarIncidencia(this)" class="btn btn-success"  >Validar</a>
                                <form th:action="@{/incidencias/validar/{id} (id=${incidencia.id})}" method="post"></form>
                                &nbsp;&nbsp;

                                <a th:href="@{/incidencias/editar/{id} (id=${incidencia.id})}" class="btn btn-warning">Editar</a>
                                &nbsp;&nbsp;
                                <a href="#" onclick="eliminarIncidencia(this)"  class="btn btn-danger">Eliminar</a>
                                <form th:action="@{/incidencias/eliminar/{id} (id=${incidencia.id})}" method="post"></form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav th:replace="Layout/paginator-nav :: paginatorRegistros"></nav>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a  href="/administrar" class="btn btn-outline-secondary">Volver</a>
        </div>
    </div>

    <footer th:replace="Layout/layout :: footer"></footer>

    <script>
        function eliminarIncidencia(elemento) {
            var ok = confirm('¿Estas seguro de eliminar el registro de incidencia?');

            if(ok) {
                elemento.nextElementSibling.submit();
            }
        }
    </script>

    <script>
        function validarIncidencia(elemento) {
            var ok = confirm('¿Estas seguro de validar el registro de incidencia?');

            if(ok) {
                elemento.nextElementSibling.submit();
            }
        }
    </script>
</body>
</html>